/* Colors */
:root {
  color-scheme: light dark;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
  --almostblack: #121212;
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, system-ui, sans-serif;
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--darkgray);
    background-color: var(--white);
  }

  a[href],
  a[href]:visited,
  code,
  .postlist-link,
  .postlist-date {
    color: var(--darkgray);
  }

  .toggle, .post-tag {
    border: 1px solid var(--gray);
    color: var(--darkgray);
    background-color: var(--white);
  }

  .post-tag:hover,
  .post-tag:focus {
    border: 1px solid var(--gray);
    color: var(--darkgray);
    background-color: var(--lightgray);
  }

  pre {
    background-color: var(--lightgray);
  }

  body.dark {
    color: var(--lightgray);
    background-color: var(--almostblack);
  }

  .dark a[href],
  .dark a[href]:visited,
  .dark code {
    color: var(--gray);
  }

  .dark .postlist-link,
  .dark .postlist-date {
    color: var(--gray);
  }
  
  .dark .toggle,
  .dark .post-tag,
  .dark .post-tag:hover,
  .dark .post-tag:focus {
    border: 1px solid var(--gray);
    background-color: var(--almostblack);
    color: var(--gray);
  }

  .dark pre {
    background-color: var(--darkgray);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--lightgray);
    background-color: var(--almostblack);
  }

  a[href],
  a[href]:visited,
  code {
    color: var(--gray);
  }
  
  .postlist-link,
  .postlist-date {
    color: var(--gray);
  }

  .toggle, .post-tag,
  .post-tag:hover,
  .post-tag:focus {
    border: 1px solid var(--gray);
    background-color: var(--almostblack);
    color: var(--gray);
  }

  pre {
    background-color: var(--darkgray);
  }

  body.light {
    color: var(--darkgray);
    background-color: var(--white);
  }

  .light a[href],
  .light a[href]:visited,
  .light code,
  .light .postlist-link,
  .light .postlist-date {
    color: var(--darkgray); 
  }

  .light .toggle, .light .post-tag {
    border: 1px solid var(--gray);
    background-color: var(--white);
    color: var(--darkgray);
  }

  .light .post-tag:hover,
  .light .post-tag:focus {
    border: 1px solid var(--gray);
    background-color: var(--lightgray);
    color: var(--darkgray);
  }

  .light pre {
    background-color: var(--lightgray);
  }
}

p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
img {
  max-width: 37.5em; /* 600px /16 */
}
p,
.tmpl-post li {
  line-height: 1.45;
}
a[href],
a[href]:visited {
}
main {
  padding: 1rem;
}
main :first-child {
  margin-top: 0;
}
header {
  border-bottom: 1px dashed var(--gray);
}
header:after {
  content: "";
  display: table;
  clear: both;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
}
code {
  word-break: break-all;
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

.toggle {
  position: absolute;
  top: 13px;
  right: 15px;
  outline: none;
  cursor: pointer;
  margin: 0;
  padding: 6px 10px 4px 10px;
  border-radius: 0.25em;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  line-height: 1.8;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  padding-left: .25em;
  padding-right: .25em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}


/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.75em; /* 12px /16 */
  padding: 0.08333333333333em 0.3333333333333em; /* 1px 4px /12 */
  margin-left: 0.6666666666667em; /* 8px /12 */
  margin-top: 0.5em; /* 6px /12 */
  margin-bottom: 0.5em; /* 6px /12 */
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
  line-height: 1.8;
}
a[href].post-tag,
a[href].post-tag:visited,
a[href].post-tag:hover,
a[href].post-tag:focus {
  color: inherit;
}
.postlist-item > .post-tag {
  align-self: center;
}

/* Warning */
.warning {
  background-color: #ffc;
  color: var(--darkgray);
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning code, .warning a[href], .warning a[href]:visited {
  color: var(--darkgray);
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}
