---
layout: layouts/home.njk
eleventyNavigation:
  key: i18n.nav.home
  order: 1
---
{% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/blog/' | url }}">the archive</a>.</p>

{# List all of the pages in the project
<ul>
  {%- for entry in collections.all %}
  <li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
  {%- endfor %}
</ul>
#}
