---
title: Industrial Empathy
layout: layouts/home.njk
description: Malte Ubl's literal website
eleventyNavigation:
  key: Home
  order: 1
---

{% set postslist = collections.posts %}
{% include "postslist.njk" %}