:root {
	color-scheme: light dark;
	--color-bg: white;
	--color-gray-20: #333333;
	--color-gray-50: #7f7f7f;
	--color-gray-90: #e5e5e5;
	--font-family: "Rag", -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
		Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
		Courier, monospace;
	--syntax-tab-size: 2;
	--noise-img: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
	--noise-opacity: 0.2;
}
:root[data-theme="dark"] {
	color-scheme: dark;
	--color-bg: black;
	--color-gray-20: #cccccc;
	--color-gray-50: #808080;
	--color-gray-90: #1a1a1a;
	--noise-opacity: 0.1;
}
.dark-mode {
	--color-gray-20: #cccccc;
	--color-gray-50: #808080;
	--color-gray-90: #1a1a1a;
}

@font-face {
	font-family: "Switzer";
	src: url("/font/Switzer-Variable.woff2") format("woff2");
	font-weight: 500;
	font-display: optional;
	/* font-variation-settings: "wght" 400; */
}
@font-face {
	font-family: "Rag";
	font-style: normal italic;
	font-weight: 400;
	src:
		url("/font/Rag-Regular.woff2") format("woff2"),
		url("/font/Rag-Italic.woff2") format("woff2"),
		url("/font/Rag-Bold.woff2") format("woff2"),
		url("/font/Rag-BoldItalic.woff2") format("woff2");
	font-display: optional;
}

/* Global stylesheet */
html,
body {
	overflow-x: hidden;
	width: 100%;
	padding: 0;
	background-color: Canvas;
	background-color: transparent;
	color: CanvasText;
	font-family: var(--font-family);
}
body {
	/* transition:
		color 0.1s,
		background-color 0.1s; */
	/* background-color: Canvas;
		color: CanvasText; */
	display: flex;
	justify-content: center;
	max-width: none;
}

.layout-wrapper {
	display: flex;
	width: 100%;
	max-width: calc(40em + 200px + 1rem);
	height: 100vh;
}

main {
	width: 100%;
	max-width: 40em;
	padding: 1rem;
	transition: margin 0.3s ease; /* Smooth transition for margin change in chat-active state */

	& :first-child {
		margin-top: 0;
	}

	&:where(.chat-active) {
		margin-top: 3em;
	}
}

/* Typography */
h1,
h2,
h3,
.letter {
	font-family: "Switzer";
}

h1 {
	display: flex;
	flex-wrap: wrap;
	gap: 0.25em;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	white-space: nowrap;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

.links-nextprev {
	padding: 1em 0;
	border-top: 1px dashed var(--color-gray-20);
	list-style: none;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: 0.5em 0;
	line-height: 1.375; /* 22px /16 */
	text-align: left;
	white-space: pre;
	word-break: normal;
	word-spacing: normal;
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
}
code {
	word-break: break-all;
}

/* Header */
.home-link {
	margin-right: 2em;
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
nav {
	position: relative;
	display: flex;
	align-items: baseline;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	padding: 0.25em 0;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
}
.postlist-item {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	padding-left: 1.5em; /* Add left padding to make room for the arrow */
	margin-bottom: 1em;
}
.postlist-item::before {
	content: "\2192"; /* Default to arrow */
	position: absolute;
	top: 0.2em;
	left: 0;
	margin-right: 0.5em;
	color: var(--color-gray-20);
	transition: all 0.5s ease-out;
	filter: saturate(100%);
	transform: scale(1);
}
.postlist-item[data-emoji]::before {
	content: attr(data-emoji);
}
.postlist-item::before {
	transition: all 0.5s ease-out;
}
.postlist-item:hover::before,
.postlist-item:focus-within::before {
	animation: pulseSat 2s linear infinite;
}

.postlist-item:not(:hover)::before {
	animation: none;
	filter: saturate(100%);
	transform: scale(1);
	transition: all 0.5s ease-out;
}
@keyframes pulseSat {
	0%,
	50%,
	100% {
		filter: saturate(100%);
		transform: scale(1);
	}
	25% {
		filter: saturate(50%);
		transform: scale(0.8);
	}
	75% {
		filter: saturate(150%);
		transform: scale(1.2);
	}
}
.postlist-date {
	color: var(--color-gray-20);
	font-size: 0.8125em; /* 13px /16 */
	word-spacing: -0.5px;
}
.postlist-link {
	flex-basis: 100%;
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item {
	position: relative;
}

.postlist-item .postlist-date::after {
	content: attr(data-tooltip);
	position: absolute;
	overflow: hidden;
	max-width: calc(100% - 12em);
	padding-left: 1em;
	color: var(--color-gray-20);
	text-overflow: ellipsis;
	white-space: nowrap;
	opacity: 0;
	visibility: hidden;
	transition:
		opacity 0.3s ease,
		visibility 0.3s ease;
}

.postlist-item:has(.postlist-link:hover) .postlist-date::after {
	opacity: 1;
	visibility: visible;
}

.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-style: italic;
	text-transform: capitalize;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0.5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	margin-left: 0.1em;
	font-size: 1em;
	font-style: normal;
	text-decoration: none;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 1.5em;
}

/* Starting custom */
figure {
	display: flex;
	flex-direction: column;
	align-items: center;
}

figure > * {
	max-width: 100%;
}

figcaption {
	color: var(--color-gray-20);
	text-align: center;
}

blockquote {
	padding-left: 1em;
	border-left: 2px solid ButtonFace;
}

/* Talk bubble styling */
.nav-phrase {
	display: none;
	width: 100%;
	padding: 0 0.5em;
	cursor: text;
}

.nav-bubble {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 2.5em);
	padding: 0.25em;
	margin: 0;
	background: ButtonFace;
	transition: all 0.3s ease;
	transform: translateY(calc(var(--item-top) - 12px));
	border-radius: 5px;

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		right: -7.5px;
		border: 7.5px solid transparent;
		border-right: 0;
		margin-top: -7.5px;
		border-left-color: ButtonFace;
	}
}

/* Only do nav switch on wide screens */
@media (min-width: 840px) {
	.nav-bubble {
		&:where(.chat-active) {
			left: calc(50% + 200px);
			width: calc(640px - 200px);
		}

		&:where(.chat-active) > * {
			display: block;
		}
	}
}

/* Talk bubble movement */
header {
	--item-top: 12px;
	--item-rot: 0deg;
	--nav-item-height: 32px;

	position: sticky;
	top: 0;
	justify-content: end;
	align-items: start;
	width: 200px;
	height: 100vh;
	padding: 1em;

	&:not(:has(+ .chat-active)) {
		&:has(.nav-item:nth-child(n):hover) {
			--n: var(--n);
			--item-top: calc(12px + (var(--n) - 1) * var(--nav-item-height));
			--item-rot: calc((var(--n) % 2 * 2 - 1) * 15deg);
		}
		&:has(.nav-item:nth-child(1):hover) {
			--n: 1;
		}
		&:has(.nav-item:nth-child(2):hover) {
			--n: 2;
		}
		&:has(.nav-item:nth-child(3):hover) {
			--n: 3;
		}
		&:has(.nav-item:nth-child(4):hover) {
			--n: 4;
		}
		&:has(.nav-item:nth-child(5):hover) {
			--n: 5;
		}
	}
}

.side-nav {
	justify-content: center;
	width: 100%;
	margin-right: 2.25em;
}

.nav-list {
	z-index: 1;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-right: 1em;
	margin: 0;
	text-align: right;
	list-style: none;
	padding-inline-start: 0;
}

.side-nav {
	display: inherit;
}

.theme-toggle {
	position: relative;
	right: -2em;
	margin-left: auto;
}

.nav-bubble,
.theme-toggle {
	transition: all 0.3s ease;
}

.theme-toggle {
	transform: rotate(var(--item-rot));
}

#chat-toggle {
	cursor: pointer;
	transition: all 0.3s ease;
}

/* Dark mode toggle styles */
#dark-mode-toggle {
	display: none;
}

#dark-mode-toggle + label {
	border: none;
	background: none;
	font-size: 1em;
	cursor: pointer;
}

#dark-mode-toggle + label::before {
	content: "🐓";
}

#dark-mode-toggle:checked + label::before {
	content: "🐸";
}

@media (prefers-color-scheme: dark) {
	#dark-mode-toggle:not(:checked) + label::before {
		content: "🐓";
	}
	#dark-mode-toggle:checked + label::before {
		content: "🐸";
	}
}

:root:has(#dark-mode-toggle:checked) {
	color-scheme: dark;
}

:root:has(#dark-mode-toggle:not(:checked)) {
	color-scheme: light;
}

/* Chat bubble related */
#user-input {
	width: 100%;
	border: none;
	background: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	outline: none;
	/* Mozilla? */
	padding: 0;
}

#user-input::placeholder,
.waiting {
	color: var(--color-gray-50);
	opacity: 0.7;
}

#chat-form {
	width: 100%;
}

#chat-form button {
	display: none;
}

@keyframes ellipsis {
	0% {
		content: ".";
	}
	33% {
		content: "..";
	}
	66% {
		content: "...";
	}
}

.waiting::after {
	content: ".";
	animation: ellipsis 1s infinite;
	display: inline-block;
	width: 1em;
	text-align: left;
}

/* Chat reset */
.chat-reset {
	position: relative;
	top: 2px;
	display: none;
	padding: 0 0.5em;
	border: none;
	background: none;
	color: gray;
	cursor: pointer;
}

.nav-bubble.chat-active .chat-reset {
	display: inline-block;
}

/* For mobile view */
@media (max-width: 839px) {
	/* Switch side nav off */
	.side-nav {
		display: none;
	}
	/* Mobile */
	.nav-phrase {
		display: inherit;
	}

	body {
		justify-content: inherit;
		max-width: 40em;
		padding: 0;
		margin: 0 auto;
	}
	.layout-wrapper {
		display: initial;
		max-width: initial;
	}
	main {
		max-width: initial;

		&:where(.chat-active) {
			margin-top: 0;
		}
	}

	header {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		width: initial;
		height: initial;
		padding-bottom: 0;
		gap: 1em 0.5em;
	}

	nav {
		flex-direction: column;
	}

	.nav-bubble {
		position: relative;
		left: initial;
	}
}

/* Util */
.line-clamp {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.noise-container {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: var(--noise-img);
	background-size: 182px;
	background-repeat: repeat;
	pointer-events: none;
	opacity: var(--noise-opacity);
}
