html {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

.word {
	display: flex;
	justify-content: space-between; /* Space the letters evenly */
	margin: 0.5em;
	text-align: center;
	width: 100%;
	height: 100%; /* Increased height */
	position: relative; /* Ensure child elements align correctly */
}

.letter-container {
	position: relative;
	display: flex;
	align-items: center; /* Center align items horizontally */
	justify-content: center;
	flex: 1; /* Allow flex-grow to fill space equally */
}

.letter-wrapper {
	position: relative;
	display: flex;
	align-items: center; /* Center align items horizontally within the wrapper */
	justify-content: center;
}

.letter {
	cursor: pointer;
	user-select: none;
	position: relative; /* Enable relative positioning for random vertical offset */
	transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
	mix-blend-mode: overlay;

	/* Fade in */
	opacity: 0;
	animation: fadeIn 0.3s ease-in forwards;
	animation-delay: var(--random-delay);

	/* Size and placement */
	font-size: clamp(
		32px,
		calc(32px + (var(--random-size) * (50vw - 32px)) / 100),
		512px
	);
	z-index: calc(1000 - var(--random-size));

	/* Rotation based effects */
	transform: rotate3d(0, 0, 1, calc(var(--rotation, 0) * 1deg));
	font-variation-settings: "wght" var(--font-weight, 400);
	will-change: transform, font-variation-settings;
}

.letter.spinning {
	transition: none;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
