html {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

.word {
	display: flex;
	justify-content: space-between; /* Space the letters evenly */
	margin: 0.5em;
	text-align: center;
	width: 100%;
	height: 600px; /* Increased height */
	position: relative; /* Ensure child elements align correctly */
}

.letter-container {
	position: relative;
	display: flex;
	align-items: center; /* Center align items horizontally */
	justify-content: center;
	flex: 1; /* Allow flex-grow to fill space equally */
}

.letter-wrapper {
	position: relative;
	display: flex;
	align-items: center; /* Center align items horizontally within the wrapper */
	justify-content: center;
}

.letter {
	cursor: pointer;
	user-select: none;
	animation-fill-mode: forwards;
	position: relative; /* Enable relative positioning for random vertical offset */
	transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
	transform-origin: center 62.5%; /* Set rotation to middle */
	mix-blend-mode: overlay;
}

.letter.spinning {
	transition: none;
}
