@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Grape+Nuts&display=swap");

* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

html {
  height: 100%;
}

body {
  margin: 1rem;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #f3eed1;
  background-image: repeating-linear-gradient(
      135deg,
      rgba(2, 2, 2, 0.08) 0px,
      rgba(2, 2, 2, 0.08) 1px,
      transparent 1px,
      transparent 11px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(2, 2, 2, 0.08) 0px,
      rgba(2, 2, 2, 0.08) 1px,
      transparent 1px,
      transparent 11px
    ),
    linear-gradient(135deg, rgb(6, 6, 6), rgb(81, 81, 81));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



@keyframes shadows {
  0% {
    text-shadow: white 0 0 4px;
  }
  50% {
    text-shadow: gray 0 0 4px;
  }
  100% {
    text-shadow: white 0 0 4px;
  }
}

h1 {
  font-family: "Grape Nuts", cursive;
  font-size: 2.5rem;
  text-shadow: #e2e2e2 0 0 7px;
}

code {
  border: 1px solid white;
  background: #464646;
  padding: 0px 3px;
}

strong {
  font-size: 1.1rem;
  text-decoration: underline overline;
}

li {
  padding-left: 3px;
}

li::marker {
  content: "»";
  font-size: 1.5rem;
  animation: shadows 4s infinite;
  color: #e2e2e2;
}

a {
  color: #e2e2e2;
  font-weight: bold;
}

hr {
  border: 1px solid teal;
  border-radius: 5px;
}

dd {
  color: #c847d0;
}

table {
  border: 2px solid white;
  border-radius: 1px;
  border-collapse: collapse;  
}

th {
  background: linear-gradient(
    to bottom,
    rgba(76, 76, 76, 1) 0%,
    rgba(89, 89, 89, 1) 12%,
    rgba(102, 102, 102, 1) 25%,
    rgba(71, 71, 71, 1) 39%,
    rgba(44, 44, 44, 1) 50%,
    rgba(0, 0, 0, 1) 51%,
    rgba(17, 17, 17, 1) 60%,
    rgba(43, 43, 43, 1) 76%,
    rgba(28, 28, 28, 1) 91%,
    rgba(19, 19, 19, 1) 100%
  );
  border: 1px solid white;
  padding: 2px;
}

td {
  border: 1px solid white;
  padding: 5px;
}

details {
  font-style: italic;
}

details > summary {
  font-style: normal;
}

label {
  clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
  height: 20px;
  background: teal;
  margin: 2px 2px 2px 5px;
  padding: 2px 15px;
  width: 250px;
  display: block;
}

input {
  margin: 2px 2px 2px 5px;
}

fieldset > label {
  display: inline-block;
}

button {
  font-size:15px;
  min-width:40px;
  height:30px;
  border-width:1px;
  color:rgba(255, 255, 255, 1);
  border-color:#b2b8ad;
  padding: 0px 10px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  box-shadow:inset 0px 0px 14px -3px #f2fadc;
  text-shadow:inset 0px 1px 0px #ced9bf;
  background:linear-gradient(rgba(243, 238, 209, 1), rgba(70, 70, 70, 1));
}

button:hover {
  background: linear-gradient(rgba(70, 70, 70, 1), rgba(243, 238, 209, 1));
}

textarea {
  margin: 4px 2px 2px 2px;
  min-width: 275px;
}

form > button {
  display: block;
}

main {
  min-height: 100vh;
  margin-bottom: -100px
}

footer {
  background: black;
  width: 100vw;
  padding: 3px 3px 3px 13px;
  margin: 0px 0px -1rem -1rem;
}

footer, .push {
  height: 100px;
}

footer > div {
  max-width: 1040px;
  margin: auto;
}

aside {
  width: 40%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #c847d0;
  font-style: italic;
  color: #c847d0;
  background: rgba(255, 255, 255, .05);
}

aside > p {
  margin: 0.5rem;
}

span {
  color: white;
  font-family: arial;
}

.Bullets {
  color: #cccccc;
}

#rrpic {
  height: 300px;
  width: min(90vw,500px);
  display: block;
  object-fit: cover;
  margin: auto;
}

#rss-img {
  height: 15px;
  width: 15px;
}

.post {
  max-width: 1040px;
  margin: auto;
}

.home {
  max-width: 1040px;
  margin: auto;
}

.post_pic {
  max-width: 65vw;
  max-height: 350px;
  border-radius: 3px;
  -webkit-box-shadow:0px 0px 16px 9px rgba(45,255,196,0.33);
-moz-box-shadow: 0px 0px 16px 9px rgba(45,255,196,0.33);
box-shadow: 0px 0px 16px 9px rgba(45,255,196,0.33);
  
}

#feb_img {
  text-align: center;
}
