---
layout: layouts/home.njk
eleventyNavigation:
  key: Blog
  order: 2
  icon: book-open
navPhrase: "Lots to read! And there's still {}!"
---
<h1>Blog</h1>

{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}