---
layout: layouts/home.njk
eleventyNavigation:
  key: Blog
  order: 2
  icon: book-open
---
{% import "letter_macro.njk" as letterMacro %}

<h1>Blog</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}