---
layout: layouts/home.njk
title: "Curriculum Vitae"
navPhrase: "Welcome to my CV! Here's a glimpse of my professional journey."
---
<link href="/css/cv.css" rel="stylesheet">

<h2>Experience</h2>

<details>
    <summary>
        <div class="job-title">Software Engineer</div>
        <div class="job-details">
            <span>nLine</span>
            <span>Oct 2021 - Present · 3 yrs</span>
        </div>
        <p class="job-location">Berkeley, California, United States</p>
        <p class="job-summary">Developing infrastructure for real-time grid monitoring and data analysis.</p>
    </summary>
    <ul>
        <li>Develop and maintain infrastructure services for real-time data monitoring and analysis across thousands of sensors in cities and rural communities, improving electrical grid reliability</li>
        <li>Created and maintain an open-source plugin for Grafana, enhancing data visualization capabilities</li>
        <li>Designed and implemented a sophisticated data analysis pipeline incorporating advanced Python concepts such as memoization, caching, and partial analysis</li>
        <li>Co-design and maintain the company website and blog, overseeing content creation and publishing processes</li>
        <li>Collaborate with cross-functional teams to optimize data collection, processing, and presentation for improved decision-making in grid management</li>
    </ul>
</details>

<details>
    <summary>
        <div class="job-title">Graduate Researcher</div>
        <div class="job-details">
            <span>University of Oslo (UiO)</span>
            <span>Sep 2019 - May 2021 · 1 yr 9 mos</span>
        </div>
        <p class="job-location">Oslo, Norway</p>
        <p class="job-summary">Conducted research in music technology and data analysis.</p>
    </summary>
    <ul>
        <li>Developed a comprehensive Python analysis toolkit to extract and analyze 20 years of metadata and text from an academic journal, resulting in a published paper</li>
        <li>Led the archival and analysis project of all recorded instances of a specific musical composition, focusing on tempo analysis and creating insightful visualizations</li>
        <li>Designed and built a React-based website for music technology guides and resources, significantly improving accessibility of information for students and researchers</li>
        <li>Maintained the official blog for the master's program, enhancing communication and engagement within the academic community</li>
    </ul>
</details>

<details>
    <summary>
        <div class="job-title">Data Analyst</div>
        <div class="job-details">
            <span>Exactly Business Data</span>
            <span>Aug 2018 - May 2019 · 10 mos</span>
        </div>
        <p class="job-location">Pasadena, CA</p>
        <p class="job-summary">Analyzed corporate data and developed Python functions for data enrichment.</p>
    </summary>
    <p>Conducted corporate data analysis and developed Python functions for data enrichment, supporting marketing teams and contributing to seed-round funding strategies.</p>
</details>