---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---

							<!-- Post -->
								<article class="box post">
									<header>
										<h2>A note from Rob Mellem, Owner and Founder</h2>
									</header>
									<h3>ABOUT US</h3>
									<p>When Packer Mellem was formed in 2014, there were a couple of driving forces behind the initiative. The first was to create and foster an environment where really talented people can go to work every day feeling good about who they are and what they accomplish while making sure the job is performed at a very high level. I wanted to inject life, excitement, motivation, and love in our employees. I believe work should be fulfilling, and that growing individually and professionally is equally important. These can be achieved hand-in-hand.</p>
<p>The second force behind the creation of Packer Mellem was the gap in rep services that exist in the pet industry. When looking around the industry, I saw a huge opportunity for brands to increase their engagement directly with stores, which is where I believe the most opportunity for success lies. We have made sure that our strategies revolve around relationships with our retail partners and making sure they are served in a way that helps them be as successful as they can be. To do so, our reps get to visit stores every day, and that is what they do.</p>
<p>As part of our services, we value offering continued education and training. We sell products into stores, but the work doesn’t stop there. We know that the store will be more successful if we properly educate their staff on those products. We know that the end consumer will be happier with their purchase if they know what to expect from that purchase. We have a whole systems approach that doesn’t neglect any one part of the sales cycle.</p>
<p>As Packer Mellem continues to grow, I am forever thankful for the many relationships formed over the years. The pet industry is a unique industry filled with so many great individuals. I will always be grateful for the amazing Team I get to work with every day. Teamwork truly makes the dream work!</p>
								</article>
