---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---
			<!-- Main -->
				<section id="main">
					<div class="container">
						<div id="content">

							<!-- Post -->
								<article class="box post">
									<header>
										<h2>Behold! This is the <strong>no sidebar</strong> layout<br />
										with no sidebar at all!</h2>
									</header>
									<span class="image featured"><img src="../public/img/pic04.jpg" alt="" /></span>
									<h3>And yeah, that's basically it</h3>
									<p>Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit
									ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris
									sit amet magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada
									in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
									magna tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros
									consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
									justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
									mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique.
									Curabitur leo nibh, rutrum eu malesuada in tristique</p>
									<p>Erat lorem ipsum veroeros consequat magna tempus lorem ipsum consequat
									Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit ligula
									vel quam viverra sit amet mollis tortor congue. Sed quis mauris sit amet
									magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada in,
									tristique Curabitur leo nibh, rutrum eu malesuada in, tristique
									at erat lorem ipsum dolor sit amet lorem ipsum sed consequat magna
									tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros consequat
									magna tempus</p>
									<p>Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit
									ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris
									sit amet magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada
									in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
									consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
									in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
									magna tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros
									consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
									justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
									mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique.
									Curabitur leo nibh, rutrum eu malesuada in tristique</p>
									<h3>Accumsan lorem ipsum veroeros</h3>
									<p>Consequat Phasellus laoreet massa id in, tristique at erat lorem
									ipsum dolor sit amet lorem ipsum sed consequat magna tempus veroeros
									consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
									justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
									mollis tortor congue. Sed quis mauris sit amet magna.</p>
									<p>Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit
									ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris
									sit amet magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada
									in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
									consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
									in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
									magna tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros
									consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
									justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
									mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique.
									Curabitur leo nibh, rutrum eu malesuada in tristique</p>
									<h3>Ligula suspcipit fusce veroeros</h3>
									<p>Nullam dolore etiam sed massa id in, tristique at erat lorem
									ipsum dolor sit amet lorem ipsum sed consequat magna tempus veroeros
									consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
									justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
									mollis tortor congue. Sed quis mauris sit amet magna.</p>
									<p>Sed massa id justo mattis pharetra. Fusce suscipit
									ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris
									sit amet magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada
									in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
									consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
									in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
									magna tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros
									consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
									justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
									mollis tortor congue. Sed quis mauris sit amet magna accumsan.</p>
								</article>

						</div>
					</div>
				</section>
				
				<section id="banner">
					<div class="container">
						<p>Use this space for <strong>profound thoughts</strong>.<br />
						Or an enormous ad. Whatever.</p>
					</div>
				</section>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
