---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
  icon: home
---
{% import "letter_macro.njk" as letterMacro %}
<link rel="stylesheet" href="/css/random_letters.css">

<h2>Hi, I'm</h2>
<div>{{ letterMacro.seperated_letters("Jackson") }}</div>

<script src="/js/spin_letters.js"></script>
<script type="module" src="/js/sound_letters.js"></script>