---
layout: layouts/home.njk
eleventyNavigation:
  key: Projects
  order: 2
  icon: book-open
---
{% import "letter_macro.njk" as letterMacro %}

<h1>{{ letterMacro.interactive_letters("Projects") }}</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

<script src="/js/interactive_letters.js"></script>

