---
layout: layouts/home.njk
eleventyNavigation:
  key: Projects
  order: 2
  icon: book-open
navPhrase: "Neat projects, huh? Have you seen {}?"
---
<h1>Projects</h1>

{% set postslist = collections.projects %}
{% include "components/postslist.njk" %}