---js
// <script>
const pagination = {
	data: "collections",
	size: 1,
	alias: "tag",
	filter: ["all", "posts"],
	// addAllPagesToCollections: true,
};

const eleventyExcludeFromCollections = true;

const eleventyComputed = {
	title: "Tagged '{{ tag }}'",
	permalink: function(data) {
		return `/tags/${this.slugify(data.tag)}/`;
	}
};
---
<h1>Tagged “{{ tag }}”</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p>See <a href="tags.njk">all tags</a>.</p>
