{% macro interactive_letters(word) %}
  <span class="word">
    {% for letter in word %}
      {% if letter == ' ' %}
        <span class="letter-container">&nbsp;</span>
      {% elif letter == '.' %}
        <span>.</span>
      {% else %}
        <span class="letter-container">{{ letter }}</span>
      {% endif %}
    {% endfor %}
  </span>
{% endmacro %}