{% macro seperated_letters(word) %}
  <div class="word">
    {% for letter in word %}
      <div class="letter-container">
        <div class="letter-wrapper">
          <span class="letter">{{ letter }}</span>
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}