{% macro seperated_letters(word) %}
  <div class="word">
    {% for letter in word %}
      <div class="letter-container">
        <div class="letter-wrapper">
          <span class="letter">{{ letter }}</span>
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}

{# {% macro seperated_letters(word) %}
  <div class="word">
    {% for letter in word %}
      {% if letter == ' ' %}
        <span class="letter-container">&nbsp;</span>
      {% elif letter == '.' %}
        <span>.</span>
      {% else %}
        <span class="letter-container">{{ letter }}</span>
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %} #}