<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8">
    <!-- See: https://www.w3schools.com/css/css_rwd_viewport.asp-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="Web accessibility, photos, travel and random stuff" />
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{% if pageTitle %}{{ pageTitle }} | ContentedWeb {% else %}ContentedWeb{% endif %}" />
    <meta property="og:description" content="Web accessibility, photos, travel and random stuff" />
    <meta property="og:url" content="https://www.contentedweb.com{{ page.url }}" />
    <meta property="og:site_name" content="ContentedWeb" />
    <meta property="og:image" content="" />
    <link rel="canonical" href="https://www.contentedweb.com{{ page.url }}" />
    <link href="https://github.com/contentedweb" rel="me" />
    <link rel="icon" href="/assets/images/cwfav.png" type="image.png" size="130x130">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}" media="all">
{#
    <link rel="stylesheet" href="{{ '/assets/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/prism-base16-monokai.dark.css' | url }}">
#}
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
    <a class="skip-link" href="#site-content">Skip to the content</a>
    <header class="masthead">
        <div class="header-area">
            <div class="header-title">
              <address class="h-card bio">
                <img class="u-photo" src="/assets/images/cw.jpg" alt="" />
                <div class="p-name sitetitle">
                    <a href="{{ '/' | url }}" class="u-url">{{ metadata.title }}</a>
                </div>
                <div class="p-note subtitle">Web accessibility, photos, travel and random noise</div>
              </address>
            </div>
            <div class="header-nav">
                <nav>
                    {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
                    {% set navPages = collections.all | eleventyNavigation %}
                    <ul>
                    {%- for entry in navPages %}
                        <li {% if page.url.startsWith(entry.url) %} class="current"{% endif %}>
                            <a href="{{ entry.url | url }}">{{ entry.title }}</a>
                        </li>
                    {%- endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main id="site-content" {% if templateClass %} class="{{ templateClass }}"{% endif %}>
       <article>
        {% if title or (tags and "posts" in tags) %}
          <header>
              {% if title %}
                  <h1>{{ title }}</h1> 
              {% endif %}
              {% if tags and "posts" in tags %}
                  <h2 class="published">
                      <time class="dt-published" datetime="{{ page.date | dateFormatMachine }}">
                          <span class="date-day">{{ page.date.getDate() }}</span> 
                          <span class="date-month">{{ page.date.toLocaleString('default', { month: 'long' }) }}</span>, 
                          <span class="date-year">{{ page.date.getFullYear() }}</span>
                      </time>
                  </h2>
              {% endif %}
          </header>
        {% endif %}
        {{ content | safe }} 
      </article>
    </main>
    <footer>
        <div class="footer-area">
            <span class="copy">
                &copy; 2021 ContentedWeb
                <br/>
                <span class="emojis">👍</span>  
            </span> 
            <span class="power">
            <a class="a11y-statement" href="/accessibility/">Accessibility Statement</a>            
            <br/>
            Powered with HTML, CSS and <a href="https://www.a11yproject.com/">a11y</a>.
            </span>
        </div>
    </footer>
    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
