---
title: New on the web
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <script
    async
    src="https://cdn.ampproject.org/amp-story-player-v0.js"
  ></script>
  <link
    href="https://cdn.ampproject.org/amp-story-player-v0.css"
    rel="stylesheet"
    type="text/css"
  />
</head>
<body>
  <amp-story-player style="width: 100vw; height: 100vh">
    <a href="./intro/">Intro</a>
    {% for month in newontheweb %}
      <a href="./{{ month.title | slug }}.html">{{ month.title }}</a>
    {% endfor %}
  </amp-story-player>
</body>
</html>

