---
title: New on the web
---
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <script
    src="https://cdn.ampproject.org/amp-story-player-v0.js"
  ></script>
  <link
    href="https://cdn.ampproject.org/amp-story-player-v0.css"
    rel="stylesheet"
    type="text/css"
  >
  <link
    href="https://fonts.googleapis.com/css?family=Oswald:200,300,400"
    rel="preload"
    as="style"
    type="text/css"
  >
  <link rel="preload" as="script" href="https://cdn.ampproject.org/v0.js">
  <link rel="preload" as="script" href="https://cdn.ampproject.org/v0/amp-story-1.0.js">
  <link rel="preload" as="script" href="https://cdn.ampproject.org/v0/amp-video-0.1.js">
  <link rel="preload" as="script" href="https://cdn.ampproject.org/v0/amp-twitter-0.1.js">
  <link rel="preload" as="script" href="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js">
  
  <style>
  body {
    margin: 0;
  }
  nav {
    position: absolute;
    z-index: 2;
    font-size: 1.6em;
    top: 16px;
    left: 12px;
  }
  </style>
</head >
<body>
  <nav><a href="/" title="Home">🏚</a></nav>
  <main>
    <amp-story-player style="width: 100vw; height: 100vh">
      <a href="./intro/">Intro</a>
      {% for month in newontheweb %}
        <a href="./{{ month.title | slug }}.html">{{ month.title }}</a>
      {% endfor %}
    </amp-story-player>
  </main>
</body>
</html>



