---
title: "Intro to new on the web"
layout: layouts/new.njk
---

<amp-story-page id="cover">
  <amp-story-grid-layer template="fill">
    <amp-img src="https://cdn.glitch.com/c88340c0-ab92-4979-a135-2e1a71e72e48%2Fmalte-cover.jpg?1557873653594"
        width="973" height="729"
        layout="responsive">
    </amp-img>
  </amp-story-grid-layer>
  <amp-story-grid-layer template="vertical">
    <h1>What is new on the Web</h1>
    <p>with <a href="https://twitter.com/cramforce">Malte</a></p>
  </amp-story-grid-layer>
</amp-story-page>

<amp-story-page id="explanation" class="bwmolpqiyj text-slide">
  <amp-story-grid-layer template="fill" class="pbhirxyp">
    <div class="pbhirxy"></div>
  </amp-story-grid-layer>
  <amp-story-grid-layer template="vertical" id="tgmvo">
    <p class="hemod pa" id="gmntkuqrtr">
    <amp-fit-text layout="fill">
      In April 2019 my team asked me: "Hey, Malte, how do you stay so on top of what is happening on the web?"<br><br>For their personal wellbeing I didn't want to answer "Hang out on Twitter for 14 hours every day!"<br><br>So, instead I created this page, updated monthly, with the most interesting web related Tweets I've seen.<br><br>I typically present these with lots of commentary in an hour-long meeting with my team, but I hope it can be helpful for people without that extra context.</p>
    </amp-fit-text>
  </amp-story-grid-layer>
</amp-story-page>