---
pagination:
    data: newontheweb
    size: 1
    alias: month
    addAllPagesToCollections: true
permalink: "new-on-the-web/{{ month.title | slug }}.html"
layout: layouts/new.njk
---

{% include "month.njk"%}