{% macro seperated_letters(word) %}
  <div class="word">
    {% for letter in word %}
      <div class="letter-wrapper">
        <div class="letter">{{ letter }}</div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}