<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <meta name="theme-color" content="#f9c412">
    <title>{{ renderData.title or title or metadata.title | escape }}</title>
    <meta name="twitter:title" content="{{ renderData.title or title or metadata.title | escape }}">
    <meta property="og:title" content="{{ renderData.title or title or metadata.title | escape  }}">
    {% set desc = renderData.description or description %}
    {% if not desc %}
      {% set desc = content | striptags | truncate(140) %}
    {% endif %}
    {% if desc %}
      <meta name="description" content="{{ desc | escape  }}">
      <meta name="twitter:description" content="{{ desc | escape }}">
      <meta property="og:description" content="{{ desc | escape }}">
    {% endif %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@cramforce">
    <meta name="twitter:creator" content="@cramforce">
    {% if image %}
      <meta name="twitter:image" content="{{ image }}">
      <meta property="og:image" content="{{ image }}">
    {% endif %}
    
    <link rel="canonical" href="{{ metadata.url }}{{ canonicalUrl or page.url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">

    <link rel="preconnect" href="https://rsms.me" crossorigin>
    <link rel="preload" href="https://rsms.me/inter/font-files/Inter-Bold.woff2?v=3.13" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://rsms.me/inter/font-files/Inter-BoldItalic.woff2?v=3.13" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://rsms.me/inter/font-files/Inter-Regular.woff2?v=3.13" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://rsms.me/inter/font-files/Inter-ExtraLight.woff2?v=3.13" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://rsms.me/inter/font-files/Inter-Regular.woff2?v=3.13" as="font" type="font/woff2" crossorigin>
    
    <script async defer src="{{ "/js/main.js" | addHash }}"></script>
    <script async defer src="{{ "/js/cached.js" | addHash }}"></script>
    <script></script>
    <link rel="preconnect" href="https://www.google-analytics.com">
    <!-- css is inserted by purify-css custom plugin -->
  </head>
  <body>
    <header>
      <nav>
        <h1><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
        {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
        {%- for entry in collections.all | eleventyNavigation %}
          <a href="{{ entry.url | url }}">{{ entry.title }}</a>
        {%- endfor %}
      </nav>
      <h1>{{ title }}</h1>
    </header>

    <main>
      <article>
        {{ content | safe }}

        {% if page.url.indexOf("/posts/") > -1 %}
          <p>Published <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></p>
        {% endif %}
      </article>
    </main>

    <footer>
      <a href="/about/">Malte Ubl</a>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
