<!doctype html>
<html lang="{{ metadata.language }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>
  <meta name="description" content="{{ description or metadata.description }}">
  <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">

  {!-- Inline the freshly-built Tailwind bundle for best performance --}
  <style>{% include "css/tw.css" %}</style>

  {!-- JavaScript bundle for heading anchors or other scripts --}
  <script type="module">{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}</script>
</head>
<body>
  <a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>

  <header class="border-b border-macMid bg-macLight p-4">
    <a href="/" class="home-link text-xl font-semibold">{{ metadata.title }}</a>

    <nav aria-label="Top level navigation menu">
      <ul class="nav flex gap-4">
        {%- for entry in collections.all | eleventyNavigation %}
          <li class="nav-item">
            <a href="{{ entry.url }}" 
               class="{% if entry.url == page.url %}underline{% endif %}"
               aria-current="{{ entry.url == page.url ? 'page' }}">
              {{ entry.title }}
            </a>
          </li>
        {%- endfor %}
      </ul>
    </nav>
  </header>

  <main id="main" class="prose mx-auto py-8">
    <heading-anchors>
      {{ content | safe }}
    </heading-anchors>
  </main>

  <footer class="border-t border-macMid bg-macLight p-4 text-center text-sm">
    <p>
      <em>Built with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a></em>
    </p>
  </footer>

  <script type="module" src="{% getBundleFileUrl "js" %}"></script>
</body>
</html>
