
				<section id="footer">
					<div class="container">
						<header>
							<h2><strong>Get in touch</strong>, we can't wait to hear from you</h2>
						</header>
						<div class="row">
							<div class="col-6 col-12-medium">
								<section>
									<form method="post" action="#">
										<div class="row gtr-50">
											<div class="col-6 col-12-small">
												<input name="name" placeholder="Name" type="text" />
											</div>
											<div class="col-6 col-12-small">
												<input name="email" placeholder="Email" type="text" />
											</div>
											<div class="col-12">
												<textarea name="message" placeholder="Message"></textarea>
											</div>
											<div class="col-12">
												<a href="#" class="form-button-submit button icon solid fa-envelope">Send Message</a>
											</div>
										</div>
									</form>
								</section>
							</div>
							<div class="col-6 col-12-medium">
								<section>
									<div class="row">
										<div class="col-6 col-12-small">
											<ul class="icons">
												<li class="icon solid fa-home">
													1234 Somewhere Road<br />
													Nashua, NH 03064<br />
													USA
												</li>
												<li class="icon solid fa-phone">
													(000) 000-0000
												</li>
												<li class="icon solid fa-envelope">
													<a href="#">info@packermellemsales.com</a>
												</li>
											</ul>
										</div>
										<div class="col-6 col-12-small">
											<ul class="icons">
												<li class="icon brands fa-twitter">
													<a href="https://twitter.com/MellemSales">@MellemSales</a>
												</li>
												<li class="icon brands fa-instagram">
													<a href="https://instagram.com/packermellem">@packermellem</a>
												</li>
												<li class="icon brands fa-youtube">
													<a href="https://www.youtube.com/channel/UCOFazfCL1Nfb73dMlg7SRqg/featured?disable_polymer=1">youtube</a>
												</li>
												<li class="icon brands fa-facebook-f">
													<a href="https://facebook.com/packermellem/">facebook.com/packermellem</a>
												</li>
												<li class="icon brands fa-linkedin">
													<a href="https://www.linkedin.com/company/packer-mellem-sales">linkedin.com/company/packer-mellem-sales</a>
												</li>
											</ul>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
					<div id="copyright" class="container">
						<ul class="links">
							<li>&copy; 2024 Packer Mellem. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>
				</section>