				<section id="header">
					<div class="container">

						<!-- Logo -->
							<h1 id="logo"><a href="index.html">Packer Mellem</a></h1>
							<p>We know pets</p>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a class="icon solid fa-home" href="index.html"><span>Home</span></a></li>
									<li>
										<a href="#" class="icon solid fa-briefcase"><span>Brands</span></a>
										<ul>


											<li><a href="#">RC Pets</a></li>
											<li><a href="#">Momentum</a></li>
											<li><a href="#">BIXBI</a></li>
											<li><a href="#">inClover</a></li>
<li><a href="#">Original Territory</a></li>
<li><a href="#">Barkworthies</a></li>
<li><a href="#">Gunni's</a></li>
<li><a href="#">Ndependent</a></li>
<li><a href="#">Wondercide</a></li>
<li><a href="#">Fab Dog</a></li>
<li><a href="#">Honey I'm Home</a></li>
<li><a href="#">Tall Tails</a></li>
<li><a href="#">Messy Mutts</a></li>
<li><a href="#">Plato</a></li>
<li><a href="#">Huxley & Kent</a></li>
										</ul>
									</li>
									<li><a class="icon solid fa-user-friends" href="left-sidebar.html"><span>Our Team</span></a></li>
									<li><a class="icon solid fa-paper-plane" href="right-sidebar.html"><span>Contact Us</span></a></li>
								</ul>
							</nav>

					</div>
				</section>