---
layout: layouts/base.njk
---

			<!-- Main -->
				<section id="main">
					<div class="container">
						<div id="content">
{{ content | safe }}

						</div>
					</div>
				</section>

				<section id="banner">
					<div class="container">
						<p>Let's <strong>build a relationship</strong>.<br />
						Let's start today.</p>
					</div>
				</section>
