
<!doctype html>
<html amp lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title or 'New on the web in ' +month.title}}</title>
    <link rel="canonical" href="{{ metadata.url }}{{ page.url }}">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-story"
        src="https://cdn.ampproject.org/v0/amp-story-1.0.js"></script>
    <script async custom-element="amp-twitter"
        src="https://cdn.ampproject.org/v0/amp-twitter-0.1.js"></script>
    <script async custom-element="amp-video" src="https://cdn.ampproject.org/v0/amp-video-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400" rel="stylesheet">
    <meta property="og:title" content="{{title or 'New on the web in ' + month.title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ metadata.url }}{{ page.url }}" />
    <meta property="og:description" content="My team asked me: `Hey, Malte, how do you stay so on top of what is happening on the web?`…" />
    <meta name="description" content="My team asked me: `Hey, Malte, how do you stay so on top of what is happening on the web?`…" />
    <meta property="og:image" content="https://cdn.glitch.com/c88340c0-ab92-4979-a135-2e1a71e72e48%2FIMG_20200207_110932.jpg.out.jpg?v=1581526483091" />
    <meta name="theme-color" content="#f9c412">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>
      amp-story {
        font-family: 'Oswald',sans-serif;
        color: #fff;
      }
      body {
        background-color: #000;
      }
      h1 {
        font-weight: bold;
        font-size: 2.875em;
        font-weight: normal;
        line-height: 1.174;
      }
      h1.dark {
        color: black;
      }
      h1.green {
        color: green;
      }
      p {
        font-weight: normal;
        font-size: 1.3em;
        line-height: 1.5em;
        color: #fff;
      }
      a {
        color: #fff;
      }
      q {
        font-weight: 300;
        font-size: 1.1em;
      }
      amp-story-grid-layer.bottom {
        align-content:end;
      }
      amp-story-grid-layer.noedge {
        padding: 0px;
      }
      amp-story-grid-layer.center-text {
        align-content: center;
      }
      .wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
      }
      .banner-text {
        text-align: center;
        background-color: #000;
        line-height: 2em;
      }

      .pbhirxy {
        background: #fff
      }

      .hemod {
        color: #333;
        font-family: Roboto;
        font-size: 1.5em;
        font-weight: 500;
        left: 8.33%;
        line-height: 1.4em;
        position: absolute;
        display: block;
        top: 4.33%;
        left: 4.33%;
        right: 4.33%;
        bottom: 4.33%;
        width: 83.33%
      }

      .blackout {
        background-color: Black;
        color: #222;
      }
    </style>
  </head>
  <body>
    <!-- Cover page -->
    <amp-story standalone
        title="{{title or 'New on the web in ' +month.title}}"
        publisher="@cramforce"
        publisher-logo-src="https://cdn.glitch.com/c88340c0-ab92-4979-a135-2e1a71e72e48%2FL9992913_400x400.jpg?1557881189419"
        poster-portrait-src="https://cdn.glitch.com/c88340c0-ab92-4979-a135-2e1a71e72e48%2Fmalte-cover.jpg?1557873653594">
      
      {{ content | safe }}

      <amp-analytics type="googleanalytics" id="googleanalytics1">
        <script type="application/json">
          {
              "vars": {
                "account": "UA-141920860-1"
              },
              "triggers": {
                "slidePageview": {
                  "on": "story-page-visible",
                  "request": "pageview",
                  "enabled": "${storyPageIndex}"
                }
              }
            }
        </script>
      </amp-analytics>
    </amp-story>
  </body>
</html>
