---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# The About page uses this template and you can customize / use it for any new pages you add #}

<div class="wrapper">
  <div class="content">
    {{ content | safe }}
  </div>
</div>
